body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: "Roboto";
}

p {
    font-family: "Roboto Condensed", Helvetica, sans-serif;
}

/*******************************************************
*
*              header Area
*
********************************************************/

header {
    display: block;
    background-color: #202e4d;
    position: relative;

}


nav {
    display: block;
}


.kampala-logo {
    height: 50px;
    width: auto;
}

.dark-theme {
    height: 40px;
    width: auto;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    text-align: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 20px;

}

nav a:hover {
    background-color: #2c5764;
    color: white;
}






/*******************************************************
*
*              Main Area
*
********************************************************/

/* Slideshow container */
.slideshow-container {
    max-width: 1600px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
    background-color: #f1f1f1;
    color: black;
}



/* Slideshow container */
.slideshow-container {
    max-width: 1600px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.img-slides {
    width: 100%;
    height: 100%;

}

figure {
    grid-column: 1/11;
    grid-row: 1/6;
    z-index: -1;
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 0;

}

/* Caption text */


/* Number text (1/3 etc) */
.numbertext {
    display: none;
    color: #f00a0a;
    font-size: 12px;
    padding: 8px 12px;
    grid-column: 1;
    grid-row: 1;
    z-index: 3;
}

/* The dots/bullets/indicators */
.dot3,
.dot4 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dots-loc {
    text-align: center;
}

.active,
.dot:hover {
    background-color: #2c1c1d;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.top-web {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.full-container {
    grid-column: 1/4;
    grid-row: 1/4;
}

.top-title {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: 1;
    color: rgb(119, 3, 3);
    font-size: 60%;
    text-align: center;
}

.button {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    font-size: 100%;

}

.button a {
    text-decoration: none;
    background-color: brown;
    color: white;
    margin: auto;
}

.button a:hover {
    background-color: rgb(240, 155, 155);
}

.parent {
    display: block;

}

.parent h2 {
    text-align: center;
    background-color: #1e1e61;
    color: white;
    padding: 10px;
}

.parent li {
    margin-top: 25px;
    padding: 10px;

}

section div,
section li,
section p {
    margin-top: 25px;
    margin: 10px;
    padding: 10px;
}


section {
    margin: 10px;
    background-color: #8888d7;
    color: #000000;

}

footer p {
    text-align: center;

}

footer {
    background-color: #1e1e61;
    color: white;
    padding: 15px;
}

#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}

ul.menuLinks {
    display: none;

}

ul.open {
    display: block;
}

#darkButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 24px;
    background-color: #fff;
    cursor: pointer;



}

main.dark {
    background-color: black;
    filter: brightness(70%);
}

main.dark h2,
main.dark h1,
main.dark li,
main.dark ul,
main.dark a {
    color: white;
}

main.dark figure {
    z-index: 1;

}

main.dark div h1 {
    color: rgb(119, 3, 3);
}



.container {
    grid-template-columns: 1fr;
}

.sidebar {
    border-right: none;
    border-bottom: 1px solid #ccc;
}

.gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-bottom: 10px;
    animation: fadeIn 15s ease-out forwards;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* join page css */

.join {
    margin: 0 10% 0 10%;
    min-height: 20rem;

}

.wf1 fieldset {
    margin: 2rem 0;
    border: solid lightgray;
    border-radius: 6px;
    padding: .5rem 2%;
}

.join h2,
.membership-benefits h3 {
    text-align: center;
    color: #c5131c;
}

.membership-benefits p {

    color: #200808;
    ;
}

.membership-benefits p strong {

    color: red;
    margin-right: 20px;
    font-size: 20px;
    padding: 10px;
}

.wf1 legend {
    color: #5a3030;
    padding: 0 .5rem;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color: blue;
    font-size: .9rem;

}

.wf1 div {
    padding-top: 1rem;
    color: blue;
    font-size: .9rem;
}

.wf1 input[type="text"],
.wf1 input[type="email"],
.wf1 input[type="tel"],
.wf1 input[type="url"],
.wf1 input[type="date"],
.wf1 input[type="number"],
.wf1 select,
.wf1 textarea {
    background-color: #eee;
    display: block;
    border: solid 1px;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;

}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"] {
    margin-right: 6px;

}

.wf1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#3333f7, rgb(0, 0, 117));
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;

}

.wf1 input:required {
    border: solid 2px red;

}

.wf1 input:required:valid {
    border: solid 2px green;

}

.membership-benefits {
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* thank you page css */

.thankyou {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.thank-you-message {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* directory css */

.maingrid {
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 1600px;
    background-color: #fff;
    font-family: Roboto, Helvetica, sans-serif;
}

.menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #96aad6;
    text-align: center;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
}

article section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #eee;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 5px;
    align-items: center;
}

.grid section {
    text-align: center;
}

.grid img {
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
}

.grid section>* {
    margin: 0.1rem;
}

.grid h3 {
    font-family: "Caveat", cursive;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;
}

.list section h3 {
    font-size: 1rem;
    font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
    background-color: #96aad6;
}

section h3 {
    font-size: 1.5rem;
}


section a {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.85rem;
    color: navy;
    letter-spacing: 1.1pt;
}

img {
    width: 260px;
    height: 200px;
    object-fit: cover;
    /* Images are jerks - Seattle*/
}

#current-temp {
    font-size: 15px;
}

img#weather-icon {
    font-size: 25px;
}

figcaption {
    font-size: 15px;
    text-align: center;
}

.weather-icon {
    width: 60px;
    /* Adjust the width as needed */
    height: 60px;
    /* Adjust the height as needed */
    display: block;
    margin: 0 auto;
}

.banner {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffcc00;
    /* Change to your desired background color */
    color: #000;
    /* Change to your desired text color */
    text-align: center;
    padding: 10px;
    z-index: 1000;
}

.banner p {
    margin: 0;
    display: inline-block;
}

.banner button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.banner button:hover {
    color: red;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* Slides */
.slide {
    display: none;
}

/* Previous and next buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.membership-level {
    font-style: italic;
    color: #941807; /* Adjust color as needed */
    font-size: 14px;
}