* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 100;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #1e1e61;
}

header img {
    grid-column: 1/2;
    width: 50%;
    height: auto;
    padding: 8px;
    margin: 0;



}

header span {
    grid-column: 2/4;
    font-size: 28px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
}

ul {
    list-style-type: none;
}

nav {
    background-color: black;
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav a:hover {
    background-color: rgba(225, 225, 225, 0.2);
    color: white;
}

nav a.active {
    background-color: #381f1f;
}

main h1 {
    font-size: 25px;
    text-align: center;
    margin: 5px;
    
}

.line {
    border: none;
    border-top: 2px solid brown;
}

.parent {
    display: block;

}

.parent h2 {
    text-align: center;
    background-color: #1e1e61;
    color: white;
    padding: 10px;
}

.parent li {
    margin-top: 25px;
    padding: 10px;

}

section div {
    margin-top: 25px;
    margin: 10px;
    padding: 10px;
}

section {
    border: 2px solid black;
    margin: 10px;
    
}

.card a {
    text-decoration: none;
}

footer p {
    text-align: center;

}
 footer {
    background-color: #1e1e61;
    color: white;
    padding: 15px;
 }

